<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{/fragments/homeheader :: headerFragment}"></th:block>

<!-- draggable3 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<!-- resizable -->
<script src="https://unpkg.com/interactjs/dist/interact.min.js"></script>
<!-- 라이트박스 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js"></script>
<!-- 이미지 특정id로 그부분만 캡처 하기 : designonepic -->
<script src="../js/html2canvas.min.js"></script>

<style>
    /* image_p : id일때만 draggable 돼 */
#image_p2{
    float: left;
    width: 100%;
    height: auto;
    background-color: rgba(217, 217, 217, 1);
    
}
/* draggable */
.draggable { 
    width: auto; 
    height: auto; 
    float: left; 
}
.timage{
    float: left;
    width: 100%;
    height: auto;
    margin: auto 0px; 
    position: relative;
    object-fit: contain;
    /* background-color: rgba(217, 217, 217, 1); */
}
.resizable {
    width: auto;
    height: auto;
    /* border-radius: 0.75rem;
    padding: 20px;
    margin: 1rem; */
    background-color: #29e;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    overflow: hidden;

    touch-action: none;

    /* This makes things *much* easier */
    box-sizing: border-box;
}
</style>

<script>
    // draggable3
$( function() {
    $( "#draggable3" ).draggable({ containment: "#image_p2", scroll: false });
} );

    // resizable
interact('.resizable')
.resizable({
modifiers: [
interact.modifiers.aspectRatio({
    ratio: 'preserve',
    modifiers: [
    interact.modifiers.restrictEdges({ outer: 'parent' })
    ]
})
],
edges: { top: true, left: true, bottom: true, right: true },
listeners: {
move: function (event) {
    let { x, y } = event.target.dataset

    x = (parseFloat(x) || 0) + event.deltaRect.left
    y = (parseFloat(y) || 0) + event.deltaRect.top

    Object.assign(event.target.style, {
    width: `${event.rect.width}px`,
    height: `${event.rect.height}px`,
    transform: `translate(${x}px, ${y}px)`
    })

    Object.assign(event.target.dataset, { x, y })
}
}
}).on('resizemove', function (event) {
var target = event.target,
    x = (parseFloat(target.getAttribute('data-x')) || 0),
    y = (parseFloat(target.getAttribute('data-y')) || 0);

// update the element's style
target.style.width  = event.rect.width + 'px';
target.style.height = event.rect.height + 'px';

// translate when resizing from top or left edges
x += event.deltaRect.left;
y += event.deltaRect.top;

target.style.webkitTransform = target.style.transform =
    'translate(' + x + 'px,' + y + 'px)';

target.setAttribute('data-x', x);
target.setAttribute('data-y', y);
target.textContent = event.rect.width + '×' + event.rect.height;
});


function dragMoveListener (event) {
var target = event.target,
    // keep the dragged position in the data-x/data-y attributes
    x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx,
    y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;

// translate the element
target.style.webkitTransform =
target.style.transform =
    'translate(' + x + 'px, ' + y + 'px)';

// update the posiion attributes
target.setAttribute('data-x', x);
target.setAttribute('data-y', y);
}

   // lightbox
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
        document.getElementById('img_preview').src = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
    } else {
        document.getElementById('img_preview').src = "";
    }
    }
</script>

<body>
    <div id="all">
        <div class="all_center">
            <th:block th:replace="~{/fragments/hometitlenav :: navFragment}"></th:block>
            <div class="clear"></div>
            <div class="bar"></div>
            <div class="body">
                <div class="mid_title">
                    디자인하기
                </div>
                <!-- 좌측 프린팅사이드 이미지 -->
                <div class="base">
                    <form th:action="@{/product/making.do}" method="get" th:object="${tmp}">
                        <div class="button" th:field="${psdto1.selectpside}">
                            <th:block th:each="tmp : ${psdto2.list}" >
                                <a id="select_btn" 
                                    th:value="${tmp.psidename}" th:text="${tmp.psidename}" 
                                    style="background: transparent; 
                                    background-color:#f2f2f2;"
                                    th:href="@{/product/making.do(tno=${param.tno},psno=${tmp.psno})}">
                                </a>
                            </th:block>
                        </div>
                    </form>
                    <input type="file" onchange="readURL(this);">
                    <th:block th:each="tmp : ${psdto1.list}" >
                        <form th:action="@{/product/making.do(tno=${param.tno},psno=${tmp.psno})}" method="get">
                            <div id="image_p2" >
                                <img class="timage" th:value="${tmp.psno}" th:src="${tmp.imageUrl}">
                                <!-- 이미지 DRAGGABLE 테스트 -->
                                <div id="draggable3" class="draggable ui-widget-content">
                                    <img class="resizable" id="img_preview"  >
                                </div>
                            </div>
                        </form>
                    </th:block>
                </div>
                <!-- 우측 선택사항 -->
                <div id="base_right">
                    <form  th:action="@{/product/making.do}" method="post"  enctype="multipart/form-data">
                        <br/>
                        <!-- 프린팅방식 @@-->
                        <div class="smol_title">
                            프린팅 방식 선택
                        </div>
                        <select th:object="${pdto}" th:field="${pdto.selectpmethod}"> 
                            <option th:each="tmp : ${pdto.list}" th:value="${tmp.pmethod}" th:text="${tmp.pmethod}" >종류</option>
                        </select>
                        <hr/>
                        <!-- 티셔츠컬러 -->
                        <div class="smol_title">
                            컬러 선택
                        </div>
                        <select th:object="${tcdto}" th:field="${tcdto.selectcolor}"> 
                            <option th:each="tmp : ${tcdto.list}" th:value="${tmp.tcolorname}" th:text="${tmp.tcolorname}" >종류</option>
                        </select>
                        <br/>
                        <!-- 티셔츠사이즈 -->
                        <div class="smol_title">
                            사이즈 선택
                        </div>
                        <select th:object="${tsdto}" th:field="${tsdto.selectsize}"> 
                            <option th:each="tmp : ${tsdto.list}" th:value="${tmp.tssize}" th:text="${tmp.tssize}" >종류</option>
                        </select>
                        <div style="margin: 20px;">
                            <a class="select_btn2" th:text="주문하기"
                                th:href="@{/product/order.do(tno=${param.tno},psno=${param.psno})}" >
                            </a>
                            <a class="select_btn2" th:text="디자인하기" 
                                th:href="@{/member/mypage.do?menu=1}" >
                            </a>
                        </div>
                    </form>
                    <!-- ######## 주문정보 어떻게 넘기지 ######## -->
                    <!-- 주문버튼 넣으면 오류뜨며 아래로 다 안뜸. -->
                    <!-- ######## 이미지를 저장하기 : 추가 : 중복되어도 괜찮나 ########-->
                    
                </div> 
                <!-- 전체 사진 출력 -->
                <div class = "img_list" >
                    <a th:each="tmp : ${imageList}" data-lightbox="tmp"th:href="${tmp}">
                        <img class = "img_1" th:src="${tmp}" 
                            style=" width: 100px; height: 100px; display: inline-block; border:1px solid #cccccc;" />
                    </a>
                </div>
                <!-- 상품상세 -->
                <div class="p_box" th:object="${tcvobj}">
                <!-- tcvobj는 tno로 받아와야함 -->
                    <div class="mid_title">
                        상품 상세
                    </div>
                    <h3 th:text="${tcvobj.tname}"></h3>

                    <p class="p_conts_one" 
                    th:text="${tcvobj.tcinfo}" ></p>

                    <p class="p_conts_one" 
                    th:text="${tcvobj.tcmaterial}" ></p>

                    <p class="p_conts_one" 
                    th:text="${tcvobj.tcmanufacomp}" ></p>

                    <p class="p_conts_one" 
                    th:text="${tcvobj.tcmanufacunt}" ></p>

                    <p class="p_conts_one" 
                    th:text="${tcvobj.tcsize}" ></p>

                    <p class="p_conts_one" 
                    th:text="${tcvobj.tcfit}" ></p>
                    
                    <p class="p_conts_one" 
                    th:text="${tcvobj.tcflexi}" ></p>
                    
                    <p class="p_conts_one" 
                    th:text="${tcvobj.tctexture}" ></p>
                    
                    <p class="p_conts_one" 
                    th:text="${tcvobj.tcthick}" ></p>
                    
                    <p class="p_conts_one" 
                    th:text="${tcvobj.tccaution}" ></p>
                    
                    <p class="p_conts_one" 
                    th:text="${tcvobj.tcwash}" ></p>

                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!-- <img class="resizable" id="img_preview"  >
        <input type="file" /> -->
        <th:block th:replace="~{/fragments/footer :: footerFragment}"></th:block>
    </div>
</body>
</html>