<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{/fragments/homeheader :: headerFragment}"></th:block>
<body>
    <div id="all">
        <div class="all_center">
            <th:block th:replace="~{/fragments/hometitlenav :: navFragment}"></th:block>
            
            <div class="clear"></div>
        
            <div class="bar"></div>
            <div class="body">
                <div class="mid_title">
                    디자인하기
                </div>
                <div class="base">
                    <div class="button">
                        <!-- <th:block th:each="tmp, idx : ${search.typeCode}" > 써서 값을 받아와야하고 또 클릭한 값을 보내야함-->
                        <!-- a태그로 바꿀것 : 스타일은 "border: solid 1px #cfcfcf;" 이거 직접 줘야함. a태그에 줘야함-->
                        <input id="select_btn" style="background: transparent; background-color:rgba(242, 242, 242, 1);" type="submit" value="티셔츠" />
                        <input id="select_btn" style="background: transparent; background-color:rgba(242, 242, 242, 1);" type="submit" value="후드 & 맨투맨" />
                        <input id="select_btn" style="background: transparent; background-color:rgba(242, 242, 242, 1);" type="submit" value="후드집업 & 아우터" />
                    </div>
                <div class="image_p"></div>
            </div>
            <!-- 우측 : 사이즈 수량 프린팅방식 컬러 선택 -->
            <!-- 파일업로드버튼도 -->
            <!-- <div class="rightbase">
                <div class="drop">
                    드롭다운메뉴 사이즈
                </div>
                <div class="drop">
                    드롭다운메뉴 프린팅방식
                </div>

            </div> -->

            <!-- <th:block th:each="one : ${list}" class="oneline">
                <div class="one">

                    <div class="conts">
                        <a class="conts" th:text="${one.tname}"></a>
                        <a class="conts" th:text="${one.tprice}"></a>
                        <a type="button" th:href="@{/product/making.do(tno=${one.tno})}" >디자인하러가기</a>
                    </div>
                    
                
                </div>
        </th:block> -->


            </div>
        </div>
    </div>
    <div class="clear"></div>
    <th:block th:replace="~{/fragments/footer :: footerFragment}"></th:block>
</body>
</html>