<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{/fragments/homeheader :: headerFragment}"></th:block>

<body>
    <div id="all">
        <div class="all_center">
            <th:block th:replace="~{/fragments/hometitlenav :: navFragment}"></th:block>
            <div class="clear"></div>
            <div class="bar"></div>
            <div class="body">
                <div class="mid_title">
                    비밀번호 변경
                </div>
                <form th:action="@{/member/updatepw.do}" method="post" id="form" onsubmit="return updateCheck(event);">
                    <div class="trm">
                        <p class="p_conts_one">
                            <label for="mpw">현재 비밀번호:</label>
                            <input type="password" id="mpw" name="mpw">
                        </p>
                        <p class="p_conts_one">
                            <label for="mpwnew">새 비밀번호:</label>
                            <input type="password" id="mpwnew" name="mpwnew">
                        </p>
                        <p class="p_conts_one">
                            <label for="mpwnew1">새 비밀번호 확인:</label>
                            <input type="password" id="mpwnew1" name="mpwnew1">
                        </p>
                        <div class="clear"></div>
                        <div>
                            <input id="mypage_btn" style="border: solid 1px #000000;" type="button" value="저장하기" onclick="updateCheck()"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="clear"></div>
        <th:block th:replace="~{/fragments/footer :: footerFragment}"></th:block>
    </div>

    <script>
        function updateCheck(){
            // event.preventDefault(); // 폼 제출 막기
    
            const mpw = document.getElementById("mpw");
            const mpwnew = document.getElementById("mpwnew");
            const mpwnew1 = document.getElementById("mpwnew1");
    
            if(mpw.value.length <= 0){
                alert('현재 비밀번호를 입력해 주세요');
                mpw.focus();
                return false;
            }
    
            if(mpwnew.value.length <= 0){
                alert('새 비밀번호를 입력해 주세요');
                mpwnew.focus();
                return false;
            }
    
            if(mpwnew1.value.length <= 0){
                alert('새 비밀번호 확인을 입력해주세요');
                mpwnew1.focus();
                return false;
            }

            if(mpwnew.value !== mpwnew1.value){
                alert('새 비밀번호가 일치하지 않습니다');
                mpwnew.focus();
                return false;
            }
    
            document.getElementById('form').submit();
        }
    </script>
</body>
</html>