<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{/fragments/homeheader :: headerFragment}"></th:block>

<body>
    <div id="all">
        <div class="all_center">
            <th:block th:replace="~{/fragments/hometitlenav :: navFragment}"></th:block>
            <div class="clear"></div>
            <div class="bar"></div>
            <div class="body">
                <div class="mid_title">
                    파일확인
                </div>
                <form th:action="@{/member/update.do}" method="post">
                    <div class="trm">
                        <p class="p_conts_one">
                            <label for="mpw">현재 비밀번호:</label>
                            <input type="text" id="mpw" name="mpw" th:value="${obj.mpw}">
                        </p>
                        <p class="p_conts_one">
                            <label for="mpwnew">새 비밀번호:</label>
                            <input type="text" id="mpwnew" name="mpwnew" th:value="${obj.mpwnew}">
                        </p>
                        <p class="p_conts_one">
                            <label for="mpwnew1">새 비밀번호 확인:</label>
                            <input type="text" id="mpwnew1" name="mpwnew1" th:value="${obj.mpwnew1}">
                        </p>
                        <div class="clear"></div>
                        <div>
                            <input id="mypage_btn" style="border: solid 1px #000000;" type="submit" value="저장하기" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="clear"></div>
        <th:block th:replace="~{/fragments/footer :: footerFragment}"></th:block>
    </div>
</body>
</html>