<!DOCTYPE html>
<html>

<style>
    
</style>
    <th:block th:fragment="mypage3Fragment">
        <div class="my_title">
            주문목록
        </div>
        <a th:href="@{/product.do}"><button>옷보러가기</button></a>
        <table class="responstable">
            <thead>
                <th>주문번호</th>
                <th>제품이름</th>
                <th>색상</th>
                <th>사이즈</th>
                <th>수량</th>
                <th>프린팅방법</th>
                <th>프린팅면</th>
                <th>주문날짜</th>
                <th>총가격</th>
                <th>##</th>
            </thead>
            <tbody>
                <tr th:each="obj : ${obj3}">
                    <td th:text="${obj.ono}"></td><!-- 주문번호ono -->
                    <td th:text="${obj.tname}"></td><!-- 제품이름tshirt.tname -->
                    <td th:text="${obj.tcolorname}"></td><!-- 색상tcolorno -->
                    <td th:text="${obj.tssize}"></td><!-- 사이즈tsno -->
                    <td th:text="${obj.ocnt}"></td><!-- 수량ocnt -->
                    <td th:text="${obj.pmethod}"></td><!-- 프린팅방법 -->
                    <td th:text="${obj.psidename}"></td><!-- 프린팅면 -->
                    <td th:text="${#dates.format(obj.oregdate, 'yyyy/MM/dd')}"></td><!-- 파일생성날짜 -->
                    <td>
                        <input type="hidden" name="tprice" th:value="${obj.tprice}"/>
                        <input type="hidden" name="pprice" th:value="${obj.pprice}"/>
                        
                        <script th:inline="javascript">
                            var tprice = /*[[${obj.tprice}]]*/ 0; // 첫 번째 숫자 값
                            var pprice = /*[[${obj.pprice}]]*/ 0; // 두 번째 숫자 값
                            var sum = tprice + pprice; // 두 숫자를 더한 값
                            document.write(sum); // 더한 값을 표시
                        </script>
                    </td>
                    <td>
                        <a th:href="@{/product/order1.do(ono=${obj.ono})}"><button>주문</button></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </th:block>
</html>