<!DOCTYPE html>
<html>
    <th:block th:fragment="mypage2Fragment">
        <h2>파일목록</h2>
        페이지 준비중
        <!-- <form th:action="@{/member/mypage.do(menu=2)}" method="post">
            <div class="card shadow-sm">
                <img src="https://via.placeholder.com/400x225" width="100%" height="225" focusable="false">
                <div class="card-body">
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat perspiciatis magni totam eum dolore sequi iste, laboriosam at.
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-primary">Edit</button>
                        </div>
                        <small class="text-body-secondary">10 mins</small>
                    </div>
                </div>
            </div>
            <input type="text" placeholder="현재비번" />
            <input type="submit" value="탈퇴변경" />
        </form> -->
    </th:block>
</html>