<!DOCTYPE html>
<html>
    <th:block th:fragment="mypage4Fragment">
        <div class="my_title">
            문의내역
        </div>
        <a th:href="@{/fqa/ask.do}"><button>질문등록하기</button></a>
        <table class="trm">
            <thead>
                <th>#</th>
                <th>제목</th>
                <th>조회수</th>
                <th>등록일</th>
            </thead>
            <tbody>
                <tr th:each="obj : ${hAsks}">
                    <td th:text="${obj.haskno}"></td><!-- 문의글번호 -->
                    <td>
                        <a th:href="@{/fqa/ask1.do(haskno=${obj.haskno})}" th:text="${obj.hasktitle}"></a>
                    </td><!-- 문의글제목 -->
                    <td th:text="${obj.haskhit}"></td><!-- 문의글조회수 -->
                    <td th:text="${#dates.format(obj.haskregdate, 'yyyy/MM/dd')}"></td><!-- 문의날짜 -->
                </tr>
            </tbody>
        </table>
    </th:block>
</html>