<!DOCTYPE html>
<html>
    <th:block th:fragment="mypage1Fragment">
        <div class="my_title">
            디자인목록
        </div>
        <a th:href="@{/product.do}"><button>옷보러가기</button></a>
        <table class="responstable">
            <thead>
                <th>#</th>
                <th>프린팅면</th>
                <th>제품명</th>
                <th>프린팅방식</th>
                <th>##</th>
            </thead>
            <tbody>
                <tr th:each="obj : ${obj}">
                    <td th:text="${obj.dno}"></td><!-- 디자인번호 -->
                    <td th:text="${obj.printingSide.psidename}"></td><!-- side -->
                    <td th:text="${obj.tshirt.tname}"></td><!-- 티셔츠이름 -->
                    <td th:text="${obj.printing.pmethod}"></td><!-- 프린팅방식 -->
                    <td>
                        <a th:href="@{/product/making1.do(dno=${obj.dno},tno=${obj.tshirt.tno},psno=${obj.printingSide.psno})}"><button>만들러가기</button></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </th:block>
</html>