<!DOCTYPE html>
<html>
    <th:block th:fragment="mypage2Fragment">
        <div class="my_title">
            파일목록
        </div>
        <a th:href="@{/product.do}"><button>옷보러가기</button></a>
        <div class="oneline">
            <th:block th:each="obj : ${obj2}" >
                <div class="one">
                    <div class="pic">
                        <img class="product_img" th:src="${obj.imageUrl1}"><br />
                    </div>
                    <div class="all_center">
                        <div class="cont_name">
                            <a th:href="@{/member/image.do(fno=${obj.fno})}" th:text="${obj.fno}"></a>
                        </div>
                        <div>
                            <label class="cont_price" th:text="${#dates.format(obj.fregdate, 'yyyy/MM/dd')}"></label>
                        </div>
                        <div >
                        </div>
                    </div>
                </div>
            </th:block>    
        </div>
    </th:block>    
</html>