@charset "UTF-8";
/* Anton & Inter */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400;500;600&display=swap');
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);



a:link.hello{
	font-size: 10px;
	/* background-color: rgb(179, 233, 237); */
	float: right;
	font-family:Inter;
	letter-spacing: 1px;
	/* 폰트는 왜인지 클래스에만 먹힘 */
}

a:link.mylogin{
    float: right;
    margin-right: 20px;
    font-size: 10px;
	letter-spacing: 1px;
    /* background-color: blueviolet; */
}

a:link.nav_0{
	font-size: 10px;
	/* background-color: rgb(179, 233, 237); */
	float: right;
	font-family:Inter;
	/* 폰트는 왜인지 클래스에만 먹힘 */
}

a:link{
	color:rgb(0, 0, 0, 1);
	text-decoration: none;
	font-size: 20px;	
	font-family:Inter;
	/* margin-top: 57px; */
	float: right;
}
a:visited {
	color: rgb(0, 0, 0, 1);
}
a:hover{
	color: pink;
}

a:link.img_list{
    margin: 10px;
}

.img_1{
    float: left;
    margin: 5px;
}
.img_list{
    float: left;
    margin: 10px;
}


a:link.select_btn2{
    width: auto;
    height: auto;
	/* color:rgb(0, 0, 0, 1); */
    background-color: rgba(242, 242, 242, 1);
	text-decoration: none;
	font-family:Inter;
	/* margin-top: 57px; */
	float: right;
    /* border: solid 1px; */
    /* border-color: #ff0000; */
    border-radius: 30px;
    padding: 5px 15px 5px 15px;
    font-size: 14px;
    margin-bottom: 3px;
}
a:link.select_btn2:visited {
	color: rgb(0, 0, 0, 1);
}
a:link.select_btn2:hover{
    color: pink
}


a:link.mypage_btn{
    /* color: black; */
    border: solid 2px #000000;
    font-size: 16px;
    background-color: rgba(217, 217, 217, 1);
    width: auto;
    height: auto;
    float: left;
    
    margin: 10px;
    /* padding: 10px; */
    border: 2px #aaa;
    
    
	text-decoration: none;
	font-family: "NanumSquare";
    border-radius: 30px;
    padding: 5px 15px 5px 15px;
    text-align: center;
}
a:link.mypage_btn:visited {
	color: rgb(0, 0, 0, 1);
}
a:link.mypage_btn:hover{
    color: rgb(0, 0, 0);
    border: solid 2px #aaa;
}

/* cont_a의 정렬요소 */
.what{
    
    right: 50%;
}
.in{
    right:-40%;
    position: relative;
}
a:link.select_bk{
    width: auto;
    height: auto;
	/* color:rgb(0, 0, 0, 1); */
    background-color: rgba(217, 217, 217, 1);
    /* border: solid 2px rgba(217, 217, 217, 1); */
	text-decoration: none;
	/* font-family:Inter; */
	float: right;
    /* border: solid 1px; */
    /* border-color: #ff0000; */
    border-radius: 30px;
    padding: 5px 15px 5px 15px;
    font-size: 16px;
    margin-top: 20px;
    left: 34%;
    position: relative;
}
a:link.select_bk:visited {
	color: rgb(0, 0, 0, 1);
}
a:link.select_bk:hover{
    color: pink;
    background-color: rgba(242, 242, 242, 0.5);
    border: solid 2px #aaa; 
}

#all{
    width: auto;
    height: 100px;
    padding-left: 9%;
    padding-right: 9%;
    /* 가운데 정렬하는거 그거써볼까 */
    margin-top: 7px;
    /* 마진 %랑 px를 섞어서 씀 */
    /* background-color: rgb(215, 215, 215); */
    /* position: absolute; */
    color:rgb(0, 0, 0, 1);
    font-size: 8px;
    font-family:Inter;
    letter-spacing: 0px;
    /* display: flex ; */
}


/* 헤더 */

.header{
    /* width: 90%;
    height: auto; */
    font-size: 22px;
    background-color: rgb(179, 233, 237);
    padding-left: 3%;
    padding-right: 3%;
    /* margin-right: 50%; */
    font-family: Anton;
    /* 나중에 css에 넣으면 구글폰트 먹겠지 */
    letter-spacing: 3px;
    /* float: center; 중앙정렬 :  .footer_0 + .center */
    position: relative;
    left: 50%;
}

/* float: center; 중앙정렬 :  .footer_0 + .center */
.all_center {
    /* background-color: blueviolet; */
    width: 100%;
    height: auto;
    float: right;
    position: relative;
    left: -50%;
}

.title{
    /* background-color: aqua; */
    font-size: 42px;
    /* 폰트사이즈 속성을 넣으면 깨진다? */
	float: left;
    margin-top: 70px;
    font-family:Anton;
}

/* 로그인 로그아웃 마이페이지 */
.hello{
	font-size: 10px;
    /* background-color: rgb(179, 233, 237); */
    float: right;
	font-family:Inter;
	/* 폰트는 왜인지 클래스에만 먹힘 */
	margin: 0px;
	/* 로그인환경에서 왜 지혼자 마진10씩 들어가있는거지 */
	letter-spacing: 1px;
}

.mylogin{
    float: right;
    margin-right: 20px;
    font-size: 10px;
	
    /* background-color: blueviolet; */
}

.mylogout{
    float: right;
    margin-right: 20px;
    font-size: 10px;
	letter-spacing: 1px;
    /* background-color: blueviolet; */
}

.mylogout:hover{
	color: pink;
}

/* 네비게이션 */

.nav_role{
    width: 80%;
    height: auto;
    /* background-color: brown; */
    float: right; 
    /* 같은 행에 있는 애랑 꼭 같은 방향을 쓸 필요 없다 */
    /* float은 길면 밑으로 줄바꿈이 일어난다 */
    margin-top: 23px;
    font-family:Inter;
}

.nav_role2{
    width: 70%;
    height: auto;
    /* background-color: brown; */
    float: right; 
    /* 같은 행에 있는 애랑 꼭 같은 방향을 쓸 필요 없다 */
    /* float은 길면 밑으로 줄바꿈이 일어난다 */
    font-family:Inter;
    margin-top: 62px;
}

.navigation{
    float: right;
    margin-right: 50%;
    /* background-color: rgb(252, 255, 86); */
}

.nav_0{
    float: right;
    /* background-color: coral; */
    margin-right: 20px;
}

.nav_1{
    float: right;
    /* background-color: royalblue; */

}

/* 바디 */

.body{
    font-size: 22px;
    /* background-color: cornflowerblue; */
    padding-left: 2%;
    padding-right: 2%;
    /* margin-right: 50%; */
    font-family: Inter;
    /* 나중에 css에 넣으면 구글폰트 먹겠지 */
    letter-spacing: 0px;
    /* float: center; 중앙정렬 :  .footer_0 + .center */
    position: relative;
    left: 50%;
}

.bar{
    /* background-color: cadetblue; */
    /* float: left 50%; */
    width: 100%;
    height: 15px;
    background-color: rgba(217, 217, 217, 1);
    margin-top: 15px ;
    margin-bottom: 30px;
    position: relative;
    left: 50%;
}

.mid_title{
    /* background-color: aquamarine; */
    color: black;
    font-size: 32px;
    font-weight: bold;
    padding: 5px;
}
.smol_title{
    /* background-color: aquamarine; */
    color: black;
    font-size: 22px;
    font-weight: 600;
    padding: 5px;
}
.my_title{
    color: black;
    float: left;
    width: 100%;
    height: auto;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}

.base{
    float: left;
    margin-top: 10px;
    width: 54%;
    height: auto;
    background-color: azure;
    
}
/* image_p : id일때만 draggable 돼 */
#image_p{
    float: left;
    width: 100%;
    height: auto;
    margin: auto 0px; 
    position: relative;
    object-fit: contain;
    background-color: rgba(217, 217, 217, 1);
}
.timage{
    float: left;
    width: 100%;
    height: auto;
    margin: auto 0px; 
    position: relative;
    object-fit: contain;
    background-color: rgba(217, 217, 217, 1);
}
/* image_p : id일때만 draggable 돼 */
#image_p2{
    float: left;
    width: 100%;
    height: 700px;
    background-color: rgba(217, 217, 217, 1);
}

/* 미리보기 이미지 : position: absolute => 크기조절문제생김) */
#img_preview_draggable{
    float: left;
    width: auto;
    height: auto;
    margin: auto 0px; 
    position: absolute;
    object-fit: contain;
    /* background-color: rgba(217, 217, 217, 1); */
}
.image_p_base{
    float: left;
    width: 100%;
    height: 600px;
    background-color: rgba(217, 217, 217, 1);
}

#base_right{
    /* margin-left: 10px; */
    margin-top: 10px;
    float: right;
    width: 45%;
    height: auto;
    /* background-color: blueviolet; */
}



/* select 스타일 */
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    /* 생략 */
    font-family: "NanumSquare";
    font-size: 16px;
    font-weight: 400;
    /* line-height: 1.5; */

    color: black;
    background: url('../img/caret-down-outline.svg') no-repeat right 14px center;
    background-size: 15px 14px;

    background-color:  #fff;
    width: 100%;
    padding: 0.6em 1.4em 0.5em 0.8em;
    margin: 5px;

    border: 1px solid #aaa;
    border-radius: 0.5em;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}
select:hover {
    background-color: rgba(217, 217, 217, 1);
    border: 2px solid pink;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px pink;
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
outline: none;
}

select:disabled {
    opacity: 0.5;
}
select option {
  background: pink;
  color: black;
  padding: 3px 0;
}




/* input type=file */
input[type=file]::file-selector-button {
    
    color: #000000;
    border: 2px solid #aaa;
    font-size: 14px;
    font-family: "NanumSquare";
    font-weight: 400;
    vertical-align: middle;
    background-color:rgba(242, 242, 242, 1);
    border-radius: 0.5em;
    /* cursor: pointer; */
    height: auto;
    width: auto;
    margin: 10px 5px;
    padding: 7px 15px ;
    /* transition: 1s; */
}

input[type=file]::file-selector-button:hover {
    background-color: rgba(217, 217, 217, 1);
    border: 2px solid pink;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

/* 버튼 */

.button{
    float: right; 
    width: auto;
    height: auto;
    padding: 3px;
    /* background-color: rgb(255, 197, 197); */
}
#select_btn{
    /* input에 타입으로 스타일을 지정할수 있음 */
    /* 아이디로도 가능한듯 */
    /* 근데 타입으로도 아이디로도 백그라운드컬러는 안먹혀 : 직접줘라*/
    border: solid 1px #cfcfcf; 
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 3px;
}

.btn_right1_16 { 
	color:rgb(0, 0, 0, 1);
	background-color:rgba(217, 217, 217, 1);
	border-radius: 30px;
	padding: 5px 10px 5px 10px;
	font: size 14px;
    
	font-family:Inter;
	letter-spacing:0;
    width: auto;
	height: auto;
    float: right;
	margin-top: 20px;
	margin-right: 65px;
}

.btn_right2_16 { 
	color:rgb(0, 0, 0, 1);
	background-color:rgba(242, 242, 242, 1);
	border-radius: 30px;
	padding: 13px 26px 13px 26px;
	font: size 20px;
	font-family:Inter;
	letter-spacing:0;
    width: auto;
	height: auto;
    float: right;
	margin-right: 10px;
}

/* 프린팅방식 */

.all_box{
    width: auto;
    height: auto;
}

.p_box{
    color: black;
    font-family: NanumSquare;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    height: auto;
    padding: 5px 10px 5px 10px;
    float: left;
    /* background-color: rgb(222, 233, 255); */
    margin-top: 20px;
}

.p_conts_one{
    font-size: 17px;
    font-weight: lighter;
    /* background-color: bisque; */

    width: auto;
    height: auto;
    margin: 20px;
}

.p_conts_first{
    font-size: 17px;
    font-weight: lighter;
    /* background-color: bisque; */

    width: auto;
    height: auto;
    /* padding-left: 2px; */
    /* margin-left: 15px; */
    padding-left: 20px;
    margin-top: 23px;
    margin-bottom: 5px;
}
.p_conts_mid{
    font-size: 17px;
    font-weight: lighter;
    /* background-color: bisque; */

    width: auto;
    height: auto;
    padding-left: 40px;
    /* margin-left: 15px; */
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.p_conts_last{
    font-size: 17px;
    font-weight: lighter;
    /* background-color: bisque; */
    margin-top: 5px;
    margin-bottom: 23px;

    width: auto;
    height: auto;
    padding-left: 40px;
    /* margin-top: 1px; */
    
}

/* 상품 카드  (고쳐야)*/
/* float: center; 중앙정렬 :  .footer_0 + .center */
.product_center {
    /* background-color: blueviolet; */
    float: right;
    position: relative;
    left: -50%;
}

.one{
    background-color:rgba(242, 242, 242, 1);
    width: 205px;
    height: 450px;
    margin: 5px;
    float: left;
    border-radius: 10px;
}
.pic{
    /* background-color: yellow; */
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 5px;
    float: left;
    border-radius: 10px;

}
.product_img{
    width:100%;
    height:100%; 
    object-fit: cover;
    border-radius:  10px 10px 0 0;
}


.cont_name{
    position: relative;
    left: 50%;
}

.conts{
    color: black;
    font-family: "NanumSquare";
    font-size: 20px;
    /* background-color: violet; */
    width: auto;
    height: 50px;
    float: left;
    margin: 10px;
}
.cont_price{
    color: black;
    font-size: 20px;
    /* background-color: violet; */
    width: 100%;
    height: auto;
    float: left;
    margin-top: 5px;
    margin-bottom: 10px;
    /* right: 50%; */
    text-align: center;
    position: relative;
    left: 50%;
}
.cont_btn{
    position: relative;
    left: 50%;
}


.oneline{
    /* background-color: rgb(207, 255, 239); */
    /* width: 1140px;  */
    width: 100%; 
    height: auto;
    float: left;
}


/* 푸터 */
#footer{
    width: auto;
    height: 100px;
    padding-left: 9%;
    padding-right: 9%;
    /* 가운데 정렬하는거 그거써볼까 */
    margin-top: 7px;
    /* 마진 %랑 px를 섞어서 씀 */
    background-color: rgb(215, 215, 215);
    /* position: absolute; */
    color:rgb(0, 0, 0, 1);
    font-size: 8px;
    font-family:Inter;
	letter-spacing: 0px;
    /* display: block; */
}

.footer_0{
    font-size: 10px;
    /* background-color: rgb(179, 233, 237); */
    margin-top: 45px;
    margin-bottom: 50px;
    /* margin-right: 50%; */
	font-family:Inter;
/* float: center; 중앙정렬 :  .footer_0 + .center */
    position: relative;
    left: 50%;
}

/* float: center; 중앙정렬 :  .footer_0 + .center */
.center {

    float: right;
    position: relative;
    left: -50%;
}

/* 배너 */
.banner1{
    /* background-color: aquamarine; */
    width: 100%;
    /* : 가로 스크롤생기면 어쩌쥐 */
    height: auto;
    /* height: auto;로 나중엔 변환 */
    margin-top: 7px 3px;
    /* object-fit: cover; */
}

.banner2{
    background-color: hotpink;
    width: 100%;
    /* : 가로 스크롤생기면 어쩌쥐 */
    height: auto;
    /* height: auto;로 나중엔 변환 : 이미지에 따라 달라지도록*/
    margin: 7px 3px;
    display: flex;
    /* background-size: cover; */
    object-fit: cover;

}

.clear{
    clear: both;
}