@charset "UTF-8";
/* Anton & Inter */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400;500;600&display=swap');

*{
	box-sizing: border-box;
	font-family: 'Inter', 'Anton', sans-serif;
}

/* .container{
	
} */

a:link{
	color:rgb(0, 0, 0, 1);
	text-decoration-line: none;
	font-size: 20px;	
	font-family:Inter;
	margin-top: 57px;
	float: right;
}
a:hover{
	color: #838383;

}

/* 타이틀 */
#title{
	color:rgb(0, 0, 0, 1);
	font-size: 42px;
	letter-spacing: 3px;
	float: left;
	margin-left: 85px;
	

}
.title_1{
	font-family: Anton;
	margin-top: 62px;
}







#nav{
	float: right;
	letter-spacing: 0;
	text-decoration-line: none;
}
#nav :hover{
	color: #838383;
	/* hover지정할땐 id에 지정 */
}
#nav_0{
	float: right;
	letter-spacing: 0;
	text-decoration-line: none;

	font-size: 10px;
	margin-right: 85px;
	/* margin-left: 730px; */
	margin-top: 23px;
	font-family:Inter;
	/* 폰트는 왜인지 클래스에만 먹힘 */
}
#nav_00{
	float: right;
	letter-spacing: 0;
	text-decoration-line: none;

	font-size: 10px;
	margin-right: 20px;
	/* margin-left: 20px; */
	margin-top: 23px;
	font-family:Inter;
	/* 폰트는 왜인지 클래스에만 먹힘 */
}
#nav_00_{
	float: right;
	letter-spacing: 0;
	text-decoration-line: none;

	font-size: 10px;
	margin-right: 20px;
	/* margin-left: 20px; */
	margin-top: 23px;
	font-family:Inter;
}
#nav_1{
	float: right;
	letter-spacing: 0;
	text-decoration-line: none;
	float: right;
	font-size: 20px;	
	margin-right: 360px;
	margin-top: 57px;

}

#nav2{
	letter-spacing: 0;
	text-decoration-line: none;
}
#nav_2{
	letter-spacing: 0;
	text-decoration-line: none;

	float: right;
	font-size: 20px;	
	margin-right: 50px;
	margin-top: 57px;	
	font-family:Inter;
}
#nav2 :hover{
	color: #838383;
}

/* 버튼 오른쪽정렬 */
.btn_right1_16 { 
	color:rgb(0, 0, 0, 1);
	background-color:rgba(242, 242, 242, 1);
	border-radius: 30px;
	padding: 5px 10px 5px 10px;
	font: size 14px;
	font-family:Inter;
	letter-spacing:0;
    width: auto;
	height: auto;
    float: right;
	margin-top: 20px;
	margin-right: 65px;

}

.btn_right2_16 { 
	color:rgb(0, 0, 0, 1);
	background-color:rgba(242, 242, 242, 1);
	border-radius: 30px;
	padding: 13px 26px 13px 26px;
	font: size 20px;
	font-family:Inter;
	letter-spacing:0;
    width: auto;
	height: auto;
    float: right;
	margin-right: 10px;
}