<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" th:href="@{/css/homeheader.css}">
</head>
<body>
    <div th:fragment="homeheaderFragment">
        <div id="title">
            <div class="title_1">T-custom</div>
        </div> 
        
        <div id="nav">
            <div class="nav_0">Login</div>
            <div class="nav_00">Join</div>
            <div class="nav_1">FQA</div>
            <div class="nav_2">Printing</div>
            <div class="nav_2">Product</div>
            <div class="nav_2">Home</div>
        </div>
    </div>
</body>
</html>