<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="../static/css/storeheader.css">
</head>

<body>
    <div th:fragment="storeheaderFragment">
        <div id="title">
            <div class="title_1">T-custom</div>
            <div class="title_2">Store</div>
        </div> 

        <div id="nav">
            <div class="nav_0">Login or Join</div>
            <div class="nav_1">FQA</div>
            <div class="nav_2">Seller</div>
            <div class="nav_2">Product</div>
            <div class="nav_2">Home</div>
        </div>
    </div>
</body>
</html>