<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T-Custom HOME</title>
    <link rel="stylesheet" th:href="@{/css/homeheader.css}">

</head>
<body>
    <div th:if="${user == null}">
        <div id="title">
            <div class="title_1">T-custom</div>
        </div> 
        <div id="nav">
            <div class="nav_0">
                <a th:href="@{/join.do}">회원가입</a>
                <a th:href="@{/login.do}">로그인</a>
            </div>
            <div ><a class="nav_1" th:href="@{/fqa.do}">FQA</a></div>
            <div ><a class="nav_2"th:href="@{/printing.do}">Printing</a></div>
            <div class="nav_2"><a th:href="@{/product.do}">Product</a></div>
            <div class="nav_2"><a th:href="@{/home.do}">Home</a></div>
        </div>
    </div>

    <div th:if="${user != null}">
        <div id="title">
            <div class="title_1">T-custom</div>
        </div> 
        <p id="nav_0" th:text="${user.name + '님 환영합니다'}"></p>
        <a id="nav_00" th:href="@{/member/mypage.do}">mypage</a>
        <form id="nav_00_" th:action="@{/logout.do}" method="post">
            <input type="submit" th:value="logout" />
        </form>
        <div id="nav">
            <div id="nav_1"><a th:href="@{/fqa.do}">FQA</a></div>
            <div id="nav_2"><a th:href="@{/printing.do}">Printing</a></div>
            <div id="nav_2"><a th:href="@{/product.do}">Product</a></div>
            <div id="nav_2"><a th:href="@{/home.do}">Home</a></div>
        </div>
    </div>
</body>
</html>