<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{/fragments/homeheader :: headerFragment}"></th:block>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js" 
           integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" 
           crossorigin="anonymous"></script><!--제이쿼리 슬림에선 동작안함-->
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script>
    $(document).ready(function(){
        $('.banner1').bxSlider({
        auto: true,
		speed: 500,
		pause: 4000,
		mode:'fade',
		autoControls: true,
		pager:true
        });
        
    });
</script>
<body>
    <div id="all">
        <div class="all_center">
            <th:block th:replace="~{/fragments/hometitlenav :: navFragment}"></th:block>
            
            <div class="clear"></div>

            <div class="bar"></div>
            
            <div class="body">
                <div class="banner1">
                    <img src="./img/1.png">
                    <img src="./img/2.png">
                    <img src="./img/3.png">
                    <img src="./img/4.png">
                </div>
                <img class="banner2" src="./img/0.png">
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <th:block th:replace="~{/fragments/footer :: footerFragment}"></th:block>
</body>
</html>