<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{/fragments/homeheader :: headerFragment}"></th:block>

<body>
    <div id="all">
        <div class="all_center">
            <th:block th:replace="~{/fragments/hometitlenav :: navFragment}"></th:block>
            <div class="clear"></div>
            <div class="bar"></div>
            <div class="body">
                <div class="mid_title">
                    로그인
                </div>
                <!-- 중앙으로 이동 및 마진 -->
                <div>                   
                    <form th:action="@{/loginaction.do}" method="post">
                        아이디: <input type="text" name="mid" value="aaa" autofocus/><br />
                        암호: <input type="text" name="mpw" value="aaa" /><br />
                        <input type="submit" value="로그인"/>
                    </form>
                </div> 
            </div>
        </div>
        <div class="clear"></div>
        <th:block th:replace="~{/fragments/footer :: footerFragment}"></th:block>
    </div>
</body>
</html><section></section>