<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="newlayout.css">
    <title>Home</title>
</head>
<body>
    <!-- 타이틀 -->
    <!-- 왜 all 안에 -->
    <div id="all">
        <div id="header">
            <div class="title">
                T-custom
            </div>
            <div>
                <div class="nav_role">
                    <div class="hello">환영합니다</div>
                    <div class="mylogin">마이페이지 로그아웃 / 로그인 회원가입</div>
                </div>
                <div class="nav_role2">
                    <div class="navigation">
                        <div class="nav_1"><div>FQA</div></div>
                        <div class="nav_0"><div>Printing</div></div>
                        <div class="nav_0"><div>Product</div></div>
                        <div class="nav_0"><div>Home</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 홈 바디 -banner- -->
    <div>
        <div class="banner1">
            배너1 좌우이동
        </div>

        <div class="banner2">
            세로로 긴 사각형. 사이트 pr.
        </div>
    </div>
    
    <!-- 바디 -contents- -->
    <!-- <div id="body">
        <div class="bodytitle">바디</div>
    </div> -->
    
    <div id="footer">
        <div class="center">
            <p class="footer_0">Copyright &copy; Your Website 2023</p>
        </div>
    </div>

</body>
</html>