<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{/fragments/homeheader :: headerFragment}"></th:block>
<body>
    <div id="all">
        <div class="all_center">
            <th:block th:replace="~{/fragments/hometitlenav :: navFragment}"></th:block>
            
            <div class="clear"></div>
        
            <div class="bar"></div>

            <div class="body">
                <div class="mid_title">
                    전체상품
                </div>
                <div>
                    <!-- 항목카테고리  버튼을 누르면 해당타입으로 정렬-->
                    <!-- 항목카테고리 버튼모양 변경 수정 -->
                    <a th:href="@{/product.do(typeCode=0)}">전체목록</a>
                    <th:block th:each="tmp, idx : ${search.typeCode}" >
                        <form th:action="@{/product.do}" method="get" th:object="${search}">
                            <input type="hidden" name="typeCode" th:value="${tmp}" />
                            <input type="submit" id="select_btn" style="background: transparent; background-color:rgba(242, 242, 242, 1); float: left;" th:value="${search.typeName[idx.index]}" />
                        </form>
                    </th:block>
                    <br/>

                    <th:block th:each="one : ${list}" class="oneline">
                    <div class="one">

                        <div class="conts">
                            <a class="conts" th:text="${one.tname}"></a>
                            <a class="conts" th:text="${one.tprice}"></a>
                            <a type="button" th:href="@{/product/making.do(tno=${one.tno})}" >디자인하러가기</a>
                        </div>
                        
                        <div class="pic">
                            <img src="https://via.placeholder.com/400x225" width="100%" focusable="false">
                        </div>
                    
                    </div>
            </th:block>
                </div>
                <div>
                    <!-- 분류 : 인기순(조회수) 최신등록순 낮은가격순 높은가격순 -->
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <!-- <th:block th:replace="~{/폴더명/파일명 :: fragment이름}"></th:block> -->
    <th:block th:replace="~{/fragments/footer :: footerFragment}"></th:block>
</body>
</html>