<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
</head>
<body>
    <h4>메모</h4>
    



    product design 기능구현

    프린팅테이블 데이터 입력 :pmethod/pprice
    프린팅사이드테이블  psidename

    // 사이즈, 수량(한계 필요), 
    // 프린팅사이드, 프린팅, 색깔 (엔티티 만듦)




    
6월 19일 수료
8 프로젝트마감
9 10 13 취업특강

이지아이엔시
엔시정보기술




<form th:action="@{/product/making.do}" method="get" th:object="${psdto}">
    <select th:field="${psdto.selectpside}"> <!-- 필드를 쓰면 선택이 자동으로 됨-->
        <option th:each="tmp : ${psdto.list}" th:value="${tmp.psidename}" th:text="${tmp.psidename}" >종류</option>
    </select>
</form>






<div id="tssize" class="" role="group">
    <c:forEach var="obj" items="${psdto}" >
        <input type="radio" class="" name="tssize" id="btnradio1_${i.index}" autocomplete="off" checked>
        <label class="" for="btnradio1_${i.index}">${obj.tssize}</label>
    </c:forEach>
</div>

















    
</body>
</html>
