<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
</head>
<body>
    <h4>메모</h4>
    - textarea 디자인먹이기
    - 배너 이미지 만들기

    - 유효성검사(게시판 글쓰기- 수정 / 회원정보수정)
    
    - 결제방식
    - 카카오톡로그인
    - 후에는 게시글에 비밀번호를 넣을 수 있게(작성자 외의 타인이 열람할수 없게)
    - 검색과 페이지네이션 : 게시판(공지사항 고객문의)/마이페이지(디자인 파일 주문 문의)/상품페이지(와시발)

6월 13일 5교시

프로젝트발표, 시연, 파일제출 2023년 6월 13일 5교시

프로젝트주제, 
팀원소개 및 역할, 
구현 기술 및 범위
프로토타입등.

ERD다이어그램
각각의 테이블 명세서

주요기능 위주의 7화면이상
-----------------------------------

2023년 6월 8일
프로젝트 마무리 및 aws에 배포


------------------------


    product design 기능구현

    프린팅테이블 데이터 입력 :pmethod/pprice
    프린팅사이드테이블  psidename

    // 사이즈, 수량(한계 필요), 
    // 프린팅사이드, 프린팅, 색깔 (엔티티 만듦)




    
6월 19일 수료
8 프로젝트마감
9 10 13 취업특강

이지아이엔시
엔시정보기술




<form th:action="@{/product/making.do}" method="get" th:object="${psdto}">
    <select th:field="${psdto.selectpside}"> <!-- 필드를 쓰면 선택이 자동으로 됨-->
        <option th:each="tmp : ${psdto.list}" th:value="${tmp.psidename}" th:text="${tmp.psidename}" >종류</option>
    </select>
</form>






<div id="tssize" class="" role="group">
    <c:forEach var="obj" items="${psdto}" >
        <input type="radio" class="" name="tssize" id="btnradio1_${i.index}" autocomplete="off" checked>
        <label class="" for="btnradio1_${i.index}">${obj.tssize}</label>
    </c:forEach>
</div>

















    
</body>
</html>
