<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
</head>
<body>
    <h4>메모</h4>
    로그인권한부여
    1. 헤더를 분리해서(아무튼 하긴해야함 방법은 못찾았지만요), 헤더가 갈때마다 로그인이 되게 할 순 없나요(다른페이지라 안되려나)
    2. 헤더가 매번 가는 모든 페이지에 로그인 토큰을 줘야하나요? 그건 filterConfig에서 url 지정해서 주나요?
    <!-- 세션과 좥 의 설명이 잘되어있다 : https://velog.io/@kimju0913/Session-%EA%B3%BC-JWT -->
    <!-- http://www.opennaru.com/opennaru-blog/jwt-json-web-token/ -->
    restcontroller - jwtutil
    postman으로 값이 오는지 확인(boot RestStudent2Controller)
    현재 404

    home navigation 중앙정렬(해보고 안되면)
    화면 비율에 따라 구성요소가 움직이게 하기

</body>
</html>
