<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{/fragments/homeheader :: headerFragment}"></th:block>

<body>
    <div id="all">
        <div class="all_center">
            <th:block th:replace="~{/fragments/hometitlenav :: navFragment}"></th:block>
            <div class="clear"></div>
            <div class="bar"></div>
            <div class="body">
                <form th:action="@{/fqa/ask1update.do?(haskno=${obj.haskno})}" method="post" id="form">
					<div>
						제목 : <input type="text" name="hasktitle" id="title" th:value="${obj.hasktitle}" />
					</div>
					<div>
						내용
						<div style="margin-left: 30px;">
							<textarea name="haskcontent" style="width: 700px; height: 200px;" id="content" th:text="${obj.haskcontent}" th:value="${obj.haskcontent}"></textarea>
						</div>
						<div class="mypage_button">
							<input type="button" id="mypage_btn" value="저장하기" onclick="updateCheck()"/>
						</div>
					</div>
				</form>
            </div>
        </div>
        <div class="clear"></div>
        <th:block th:replace="~{/fragments/footer :: footerFragment}"></th:block>
    </div>
	<script>
		var content = document.getElementById('content');
		content.value = stripHTMLTagsPreserveLineBreaks(content.value);
	
		function stripHTMLTagsPreserveLineBreaks(html) {
			var tmp = document.createElement("div");
			tmp.innerHTML = html.replace(/<[^>]+>/g, '');
			return tmp.innerText;
		}

		function updateCheck(){
            // event.preventDefault(); // 폼 제출 막기

			const title = document.getElementById("title");
			const content = document.getElementById("content");

			if(title.value.length <= 2){
				alert('제목을 3글자 이상 입력하세요');
				title.focus();
				return false;
			}

			if(content.value.length <= 7){
				alert('내용을 8글자 이상 입력하세요');
				content.focus();
				return false;
			}

			document.getElementById('form').submit();
		}
	</script>
</body>
</html>